@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-4">
        <h3>Aman Mehara</h3>
        <address>
            4<sup>th</sup> Year, Computer Science & Engineering<br />
            National Institute of Technology, Silchar<br />
            <abbr title="Phone">P:</abbr>
            848.656.2235<br />
            <strong>E-mail:</strong>   <a href="mailto:amanmehara@hotmail.com">amanmehara@hotmail.com</a>
        </address>
    </div>

    <div class="col-md-4">
        <h3>Nafisa Barlaskar</h3>
        <address>
            4<sup>th</sup> Year, Computer Science & Engineering<br />
            National Institute of Technology, Silchar<br />
            <abbr title="Phone">P:</abbr>
            848.681.3675<br />
            <strong>E-mail:</strong>   <a href="mailto:nafisa.barlaskar@gmail.com">nafisa.barlaskar@gmail.com</a>
        </address>
    </div>

    <div class="col-md-4">
        <h3>Ayush Nenawati</h3>
        <address>
            4<sup>th</sup> Year, Computer Science & Engineering<br />
            National Institute of Technology, Silchar<br />
            <abbr title="Phone">P:</abbr>
            953.104.4877<br />
            <strong>E-mail:</strong>   <a href="mailto:ayushnenawati@gmail.com">ayushnenawati@gmail.com</a>
        </address>
    </div>

</div>